<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Suluvir</title>

        {{range .Externals}}
            {{if .HasCss}}
                {{range .CssUrls}}
                    <link href="{{.}}" rel="stylesheet">
                {{end}}
            {{end}}
        {{end}}

    </head>
    <body>
        <div id="application-root"></div>

        {{range .Externals}}
            {{if .HasJs}}
                {{range .JsUrls}}
                    <script src="{{.}}"></script>
                {{end}}
            {{end}}
        {{end}}

    </body>
</html>
