<!DOCTYPE html>
<html class="mdc-typography">

    <head>
        <title>Suluvir</title>


{{.GreetingMessage}}

        {{range .Metadata}}
            <meta
                    {{if .Name}}name="{{.Name}}"{{end}}
                    {{if .Content}}content="{{.Content}}"{{end}}
                    {{if .HttpEquiv}}http-equiv="{{.HttpEquiv}}"{{end}}
                    {{if .Charset}}charset="{{.Charset}}"{{end}}
            >
        {{end}}

        <link rel="icon" type="image/svg+xml" href="/static/img/logo/png/suluvir.png">
        <link rel="apple-touch-icon" href="/static/img/logo/png/suluvir.png">
        <link rel="shortcut icon" href="/static/img/logo/png/suluvir.png" type="image/x-icon">

        <!-- use /nodestatic here for no versioned, but faster way to provide icon font. If we use /appstatic here, -->
        <!-- we have to provide a way to serve woff-files etc there. -->
        <!-- do not use fonts.googleapis.com, serve all files via this server -->
        <link rel="stylesheet" href="/nodestatic/material-design-icons/iconfont/material-icons.css">

        <link rel="stylesheet" href="/nodestatic/dialog-polyfill/dialog-polyfill.css">
        <style>
            .suluvir-noscript {
                text-align: center;
            }

            .suluvir-noscript__content {
                display: inline-block;
                margin-top: 5rem;
            }

            .suluvir-noscript__content__image {
                width: 15rem;
            }

            .suluvir-noscript__content__headline {
                margin-top: 2rem;
            }
        </style>

        {{range .Externals}}
            {{if .HasCss}}
                {{range .CssUrls}}
                    <link href="{{.}}" rel="stylesheet">
                {{end}}
            {{end}}
        {{end}}

    </head>
    <body>
        <div id="application-root"></div>

        <noscript>
            <div class="suluvir-noscript">
                <div class="suluvir-noscript__content">
                    <img alt="Logo" src="/static/img/logo/png/suluvir.svg" class="suluvir-noscript__content__image">
                    <h1 class="suluvir-noscript__content__headline">Suluvir Web Application</h1>
                    <div class="suluvir-noscript__content__text">
                        Please activate JavaScript in order to use this page.
                    </div>
                </div>
            </div>
        </noscript>

        <script>
            window.setup = JSON.parse({{.Setup}});
        </script>

        {{range .ExternalJavascript}}
            <script src="{{.}}" async defer></script>
        {{end}}

        <script src="/nodestatic/dialog-polyfill/dialog-polyfill.js"></script>
        {{range .Externals}}
            {{if .HasJs}}
                {{range .JsUrls}}
                    <script src="{{.}}"></script>
                {{end}}
            {{end}}
        {{end}}

        <script>
        window.mdc.autoInit();
        </script>

    </body>
</html>
