@import '../../animations';

.suluvir-player {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    @include heightTransition();
}

.suluvir-player--active {
    @include heightTransitionExpanded();
}