@import '../../animations';

.suluvir-player {
    display: flex;
    flex-shrink: 0;
    align-items: center;

    @include heightTransition();

    #suluvir-player__timedisplay {
        flex-grow: 10000000000;
    }
}

.suluvir-player--active {
    @include heightTransitionExpanded();
}