@import '../../animations';

#suluvir-spa {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    .suluvir-content {
        padding: 1rem;

        & > div {
            @include fadein();
        }
    }
}