.suluvir__playlist-create {
    width: 100%;

    .suluvir-playlist-create__text-input {
        margin-right: 0.5rem;
        width: calc(100% - 32px);
    }

    form {
        display: inline;
    }
}
