@import "../constants";

html, body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

html, body, div#application-root, div#suluvir-root {
  width: 100%;
  height: 100%;

  position: relative;
}