@import "../constants";

#suluvir-root {
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 0;
}

.mdl-layout__drawer .mdl-navigation {
  hr.mdl-navigation__link {
    padding: 0;
  }
}