.suluvir-detail-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem 1rem 0 1rem;
    margin-bottom: 1rem;

    .suluvir-detail-header__cover {
        & > img {
            width: 100%;
            border-radius: 0.5rem;
        }
        width: 100%;
        margin-right: 1rem;
        margin-bottom: 1rem;

        &--default {
            max-width: 15rem;
        }

        &--condensed {
            max-width: 5rem;
        }
    }

    .suluvir-detail-header__header {
        & > h3 {
            margin: 0;
        }
        margin-bottom: 1rem;
    }
}