.suluvir-login {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        button {
            float: right;
            margin-top: 2rem;
        }
    }
}

.suluvir-login__registration-link {
    display: block;
    margin-top: 1rem;
}