.suluvir-registration {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    form {
        button {
            float: right;
            margin-top: 2rem;
        }
    }
}

.suluvir-registration__container {
    padding: 1rem;
}

.suluvir-registration__logo {
    display: table;
    margin-left: auto;
    margin-right: auto;

    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
