.suluvir-small-logo-container {
    padding: 1rem;
    background-color: white;
    overflow-y: auto;

    width: 75%;
    max-width: 50rem;
    min-width: 15rem;
}

.suluvir-small-logo-container__logo {
    display: table;
    margin-left: auto;
    margin-right: auto;

    width: 7rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}